.newTransaction {

    font-size: 1.7rem;
  
&__review {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
    color: white;
    font-family: var(--font-main);
}

    &__title {
        text-align: center;
        color: white;

        &--balance {
            border-radius: 5px;
            background-color: #434242;
            padding: 2rem;
            margin: 1rem 0;
            font-family: var(--font-main);
            
    
            

            &-text {
                font-size: 3rem;
                color: #90B77D;
                font-weight: 800;
            }

            &-text-neg {
                font-size: 3rem;
                color: #CF0A0A;
                font-weight: 800;
            }
        }
    }

    &__header {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
    }

    &__form {
        background-color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        &--container {
            border: 1px solid rgb(197, 197, 197);
            border-radius: 5px;;
            margin-bottom: 1rem;
        }
    }

    &__input {
        width: 300px;
        max-width: 100%;
        font-size: 1.7rem;
        padding: 1rem;
    }

    &__button {
        border: 1px solid black;
        margin: 1.5rem 0 1rem 0;
        padding: 1rem;
    }

    &__usersList{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       

        &--item {
            border-top: 1px solid gray;
            border-right: 1px solid gray;
            border-left: 1px solid gray;
            border-bottom: 0;
            text-align: center;
            border-radius: 5px 5px 0 0;
            width: 100%;
            padding: 1rem;
            
        }
    }



   
}

ul {
    list-style-type: none;
    padding:0;}

    li {
        width: 100%;
        margin: 1px;
    }


.errorMsg {
    color: red;
}