.card {
    height: min-content;
    padding: 1rem 1rem;
    border-radius: 1px;
    border: 0;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    font-family: var(--font-main);
    margin: 0.5rem 0;
    z-index: 10;
    
    &__header{
        height: 50px;
    }   

    &__concept {
        font-size: 2.5rem;
        font-weight: 500;
    }

    &__quantity {
        font-size: 3rem;
        font-weight: 600;
        text-align: right;
    }

    &__date {

    }

    &__footer {
        height: min-content;
        width: 100%;
    }

    &--delete {
        width: 100%;
        font-weight: 600;
        color: red;
        text-align: right;
    }

    
    }

    .loader-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
    }
   




// &--delete {
//                 color: red;
//                 float: right;
//             }
       