<div class="container-fluid card" *ngIf="transaction">
    <div class="row card__header">
        <div class="col-7 card__concept">
            {{transaction.concept}}
        </div>
        <div class="col-5 card__quantity">
            {{transaction.quantity |  currency: 'EUR' : 'symbol'}}
        </div>
    </div>
    <div class="row card__footer">
        <div class="card__date col-7">
            {{transaction.date}}
        </div>
        <div class="card__delete col-5" *ngIf="!loading">
            <p class=" card--delete" (click)="onDeleteTransaction(transaction)" *ngIf="userId === transaction.userId"><i class="fa-solid fa-trash"></i></p>
        </div>
        <div class="card__delete col-5 loader-container" *ngIf="loading">
            <span class="loader-small"></span>
        </div>
    </div>
</div>

