.newTransaction {

    font-size: 1.7rem;
    background-color: var(--color-background-blue);
    min-height: 100vh;
  
&__review {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
    color: white;
    font-family: var(--font-main);
}

    &__title {
        text-align: center;

        &--balance {
            border-radius: 5px;
            background-color: rgb(234, 234, 255);
            padding: 2rem;
            margin: 1rem 0;
            

            &-text {
                font-size: 3rem;
                color: green;
            }

            &-text-neg {
                font-size: 3rem;
                color: red;
            }
        }
    }

    &__header {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
    }

    &__form {
        background-color: white;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        &--container {
            border: 1px solid rgb(197, 197, 197);
            border-radius: 5px;;
            margin-bottom: 1rem;
        }
    }

    &__input {
        width: 300px;
        max-width: 100%;
        font-size: 1.7rem;
        padding: 1rem;
    }

    &__button {
        border: 1px solid black;
        margin: 1.5rem 0 1rem 0;
        padding: 1rem;
    }

    &__usersList{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        &--item {
            border-top: 1px solid #FFFBC1;
            border-right: 1px solid #FFFBC1;
            border-left: 1px solid #FFFBC1;
            border-bottom: 0;
            text-align: center;
            width: 100%;
            padding: 1rem;
            background-color:#FFFBC1;
            
            font-family: var(--font-main);
            font-weight: 600;

            
        }
    }



   
}

ul {
    list-style-type: none;
    padding:0;}

    li {
        width: 100%;
        margin: 0 1px 0 0;
    }

    li:last-child{
        margin: 0;
    }






    //MENU BUTTONS
.addtransaction__button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 50px;
    width: 50px;
    background-color: #68B984;
    box-shadow: 2px 2px 2px  black;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &--plus {
        color: white;
        font-size: 5rem;
        font-weight: 800;
    }

}





  