:root {
    --color-background-blue: #4B56D2;

    --font-main: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgb(236, 236, 236);
    overflow-x: hidden;
    scroll-behavior: smooth;

    
    @media(max-width: 500px) {
        font-size: 50%;
      }
}

body{
    margin: 0 auto;
    position: relative;
    font-size: 2rem;
    max-width: 1450px;
    overflow: hidden; 

}


// GLOBAL COMPONENTS


.g-form {
    position: absolute;
}

label {
    background-color: white;
    font-size: 1.45rem;
    padding: 0 1rem;
    color: rgb(129, 129, 129);
    position:relative;
    top: 8px;
    left: 10px;
}

.input:focus + label {
    color: white;
    animation: labelAnim  1s ;
}


@keyframes labelAnim {
    0%{
        top: 20px;
        left: 27px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border-width: 3px 2px 3px 2px;
    border-style: solid dotted solid dotted;
    border-color: #de3500 rgba(255, 255, 255,0.3) #fff rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }